* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
    --buttonBg: #2762f3;
    --buttonHoverBg: #0c48db;
    --formBg: #17181c;
    --inputBg: #2e3138;
    --inputDisableBg: #2e3138;
    --inputBorder: #5c6270;
    --pColor: #e3e4e8;
}

button, input {
	color: var(--pColor);
	font: 1em/1.5 "Hind", -apple-system, sans-serif;
}
.upload-btn {
	overflow: hidden;
}
button:hover, .upload-btn input[type=file]:hover + button {
	background: var(--buttonHoverBg);
}
button, .upload-btn input[type=file], .upload-btn input[type=file]::-webkit-file-upload-button {
	cursor: pointer;
}
button, input {
	display: block;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button {
	background: var(--buttonBg);
	border-radius: 0.375em;
	color: #fff;
	margin-bottom: 1.5em;
	padding: 0.75em 1em;
	transition: background 0.1s linear;
}
button:focus {
	outline: 0;
}
form {
	padding: 1.5em 1.5em 0 1.5em;
	position: relative;
}
input {
	background: var(--inputBg);
	border-radius: 0.25em;
	box-shadow: 0 0 0 1px var(--inputBorder) inset;
	padding: 0.75em;
}
input:disabled {
	background: var(--inputDisableBg);
	cursor: not-allowed;
	text-overflow: ellipsis;
}
label {
	display: inline-block;
	font-weight: bold;
}
.aside-toggle, .aside-toggle:hover, .aside-toggle:focus {
	background-color: var(--formBg);
}
.aside-toggle {
	border-radius: 0.375em 0.375em 0 0;
	margin: 0;
	padding: 0.25em 1em;
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	transition: none;
	width: 4.5em;
	height: 1.5em;
}
.aside-toggle:before {
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-bottom: 0.5em solid;
	color: var(--pColor);
	content: "";
	display: block;
	position: absolute;
	top: 33%;
	left: calc(50% - 0.5em);
	width: 0; 
	height: 0; 
	transition: color 0.1s linear;
}
.aside-toggle:hover:before, .aside-toggle:focus:before {
	color: #5F8DD3;
}
.aside-open {
	transform: translateY(0%);
}
.aside-open .aside-toggle:before {
	border-bottom: 0;
	border-top: 0.5em solid;
}
.sr {
	clip: rect(1px,1px,1px,1px);
	overflow: hidden;
	position: absolute;
}
.upload-btn, .upload-btn input[type=text], .upload-btn input[type=file] + button {
	margin-bottom: 0.75em;
}
.upload-btn {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.upload-btn input[type=text] {
	width: calc(62.5% - 0.375em);
}
.upload-btn input[type=file], .upload-btn input[type=file] + button {
	width: calc(37.5% - 0.375em);
}
.upload-btn input[type=file] {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	height: 3em;
}
.upload-btn input[type=file] + button svg {
	display: block;
	margin: auto;
	width: 1.5em;
	height: 1.5em;
}
.upload-btn input[type=file] + button path {
	fill: #fff;
}

.progressBar {
	margin-bottom: 20px;
}
  
.row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.content {
	width: 100px;
}

.container {
	margin: 0 auto;
	padding: 50px 0 0;
	max-width: 960px;
	width: 100%;
  }
  
  .panel {
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 25px;
	position: relative;
	width: 100%;
	z-index: 10;
  }
  
  .pricing-table {
	box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
	display: flex;
	flex-direction: column;
  }
  
  @media (min-width: 900px) {
	.pricing-table {
	  flex-direction: row;
	}
  }
  
  .pricing-table * {
	text-align: center;
	text-transform: uppercase;
  }
  
  .pricing-plan {
	border-bottom: 1px solid #e1f1ff;
	padding: 25px;
  }
  
  .pricing-plan:last-child {
	border-bottom: none;
  }
  
  @media (min-width: 900px) {
	.pricing-plan {
	  border-bottom: none;
	  border-right: 1px solid #e1f1ff;
	  flex-basis: 100%;
	  padding: 25px 50px;
	}
  
	.pricing-plan:last-child {
	  border-right: none;
	}
  }
  
  .pricing-img {
	margin-bottom: 25px;
	max-width: 100%;
	width: 120px;
	height: 119px;
  }
  
  .pricing-header {
	color: #888;
	font-weight: 600;
	letter-spacing: 1px;
  }
  
  .pricing-features {
	color: #016FF9;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 50px 0 25px;
  }
  
  .pricing-features-item {
	border-top: 1px solid #e1f1ff;
	font-size: 12px;
	line-height: 1.5;
	padding: 15px 0;
  }
  
  .pricing-features-item:last-child {
	border-bottom: 1px solid #e1f1ff;
  }
  
  .pricing-price {
	color: #016FF9;
	display: block;
	font-size: 32px;
	font-weight: 700;
  }
  
  .pricing-button {
	border: 1px solid #9dd1ff;
	border-radius: 10px;
	color: #348EFE;
	display: inline-block;
	margin: 25px 0;
	padding: 15px 35px;
	text-decoration: none;
	transition: all 150ms ease-in-out;
  }
  
  .pricing-button:hover,
  .pricing-button:focus {
	background-color: #e1f1ff;
  }
  
  .pricing-button.is-featured {
	background-color: #48aaff;
	color: #fff;
  }
  
  .pricing-button.is-featured:hover,
  .pricing-button.is-featured:active {
	background-color: #269aff;
  }

  .container h2 {
	font-size: 25px;
  }

  


